<div class="jumbotron">
<!-- Nav tabs -->
    <ul class="tablist" role="tablist">
      <li role="presentation" class="active"><a href="#featured" aria-controls="featured" role="tab" data-toggle="tab">Featured Item</a></li>
      <li role="presentation"><a href="#best" aria-controls="best" role="tab" data-toggle="tab">Best Seller</a></li>
      <li role="presentation"><a href="#discount" aria-controls="discount" role="tab" data-toggle="tab">Summer Discount</a></li>
      <li role="presentation"><a href="#premium" aria-controls="premium" role="tab" data-toggle="tab">Premium Product</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="featured">
        <div class="tab-text">
          <h2>Playstation Pro</h2>
          <a href="/products/1" class="btn btn-success">View Item</a>
        </div>
        <%= image_tag 'ps4_pro.png', class: "slide-img" %>
      </div>

      <div role="tabpanel" class="tab-pane" id="best">
        <div class="tab-text">
          <h2>Nintendo Classic</h2>
          <a href="/products/4" class="btn btn-success">View Item</a>
        </div>
        <%= image_tag 'nes_classic.png', class: "slide-img" %>
      </div>

      <div role="tabpanel" class="tab-pane" id="discount">
        <div class="tab-text">
          <h2>Xbox One S</h2>
          <a href="products/2" class="btn btn-success">View Item</a>
        </div>
        <%= image_tag 'xbox_one_s.jpg', class: "slide-img" %>
      </div>

      <div role="tabpanel" class="tab-pane" id="premium">
        <div class="tab-text">
          <h2>Nintendo Switch</h2>
          <a href="products/3" class="btn btn-success">View Item</a>
        </div>
        <%= image_tag 'nintendo_switch.jpg', class: "slide-img" %>
      </div>
    </div>
</div>

<section id="products">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag(product.image_url) %>
          <div class="caption">
            <h4 class="pull-right">
              <%= "$#{product.price}" %>
            </h4>
            <h4><%= link_to "#{product.title}", product_path(product) %></h4>
            <p><%= product.description %></p>
          </div>
        </div>
      </div> 
    <% end %>  
  </div>
</section>
