
<section>
  <div class="row">
    <div class="col-md-8">
      <div class="row">  
        <div class="col-md-4 thumbnail">
          <%= image_tag(@product.image_url, class: 'product-show-image') %>
        </div>
        <div class="col-md-8">
          <h2><%= @product.title %></h2>
          <div><%= @product.price %></div>
          <hr>

          <p>
            <a href="/cart/<%= @product.id %>" class="btn btn-success">Add To Cart</a>  
          </p><br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Decsription</h3>
            </div>
            <div class="panel-body">
             <span style="color: black;"><%= @product.description %></span>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <div class="col-md-4">
      <%= render 'layouts/categories' %>
    </div>
  </div>
</section>