<div class="list-group">
  <%= link_to 'Books', products_path(category: 'books'), class: "list-group-item" %>
  <%= link_to 'Clothing', products_path(category: 'clothing'), class: "list-group-item" %>
  <%= link_to 'Music', products_path(category: 'music'), class: "list-group-item" %>
  <%= link_to 'Electronics', products_path(category: 'electronics'), class: "list-group-item" %>
  <%= link_to 'Studio Equipment', products_path(category: 'studio equipment'), class: "list-group-item" %>
</div>