<div class="container">
  
  <header>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h1 class="logo">
        <span class="primarycolor"><i class="glyphicon glyphicon-home"></i></span> store<span class="primarycolor">HOUSE</span></h1>
      </div>
      <!-- where form starts -->
      <div class="col-md-8 col-sm-12">

        <% if user_signed_in? %>
          
          <div class="greeting">
            WELCOME <span class="primarycolor"><%= "#{current_user.email}" %></span>
            <div class="signout">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </div>
          </div>

        <% else %>

        
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "form-inline"} ) do |f| %> 
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: 'form-control',  id: "login-field" %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control',  id:"login-field" %>
              </div>
                <%= f.submit "Come in!", class: 'btn actions', id: "login-field" %>
            <% end %>
          
        <% end %>  
      </div>
      <!-- where form ends -->
    </div>
    <% if !user_signed_in? %>
      <div class="pull-right">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </header>

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="<%= root_path %>">Home</a></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'My Cart', cart_path %></li>
          <li><%= link_to 'My Account', '#' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div>
            <%= form_tag products_path, method: 'get', class: 'navbar-form' do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>  
              </p>
            <% end %>   
          </div>   
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>  